<!-- <app-display-carta [multiversalId]="'129524_126'"></app-display-carta> -->

<!-- <app-preview-carta [multiversalId]="'129524_126'" [idiomaCodigo]="'ES'"></app-preview-carta> -->

<!-- <app-list-carta></app-list-carta> -->

<!-- <app-catalogo></app-catalogo> -->

<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->

<!-- <app-Estoy loco 🖐️🤪🖐️></app-Estoy loco 🖐️🤪🖐️> -->

<app-header></app-header> <!-- Aquí tu nuevo header -->

<main class="main-content">
    <router-outlet></router-outlet>
</main>

<!-- Opcional: un footer -->
<!-- <footer> <p>© 2023 Mi Aplicación</p> </footer> -->